<mat-drawer-container autosize>

  <mat-drawer #snav mode="over">
    <div fxLayout="column" fxLayoutAlign="space-around center">
      <div mat-card-avatar class="example-header-image"></div>
      <h1>Menú</h1>
      <p *ngIf="showFiller">Esto es un texto extra para yesica.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Mostrar más cosas
      </button>
    </div>
    <mat-nav-list>
      <mat-selection-list #shoes [multiple]="false">
        <div mat-subheader>Terapías</div>

        <mat-list-option *ngFor="let therapy of therapies" [value]="therapy.rute" (click)="_goToTherapy(therapy.rute)">
          <mat-icon mat-list-icon>{{therapy.icon}}</mat-icon>
          <div mat-line>{{therapy.name}}</div>
          <div mat-line> {{therapy.updated | date}} </div>
        </mat-list-option>

        <mat-divider></mat-divider>
        <div mat-subheader>Portafolio</div>
        <mat-list-option *ngFor="let exp of experience" (click)="hola2(exp.icon)">
          <mat-icon mat-list-icon>{{exp.icon}}</mat-icon>
          <div mat-line>{{exp.name}}</div>
          <div mat-line> {{exp.updated | date}} </div>
        </mat-list-option>

        <mat-divider></mat-divider>
        <div mat-subheader>Contacto</div>
        <mat-list-option *ngFor="let cont of contact">
          <mat-icon mat-list-icon>{{cont.icon}}</mat-icon>
          <div mat-line>{{cont.name}}</div>
          <div mat-line> {{cont.updated | date}} </div>
        </mat-list-option>
      </mat-selection-list>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <app-nav-bar (buttonMenu)="snav.toggle()"></app-nav-bar>
      <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>