<mat-drawer-container autosize>

  <mat-drawer #snav mode="over">
    <div fxLayout="column" fxLayoutAlign="space-around center">
      <h1>Menú</h1>
      <p *ngIf="showFiller">Esto es un texto extra para yesica.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Mostrar más cosas
      </button>
    </div>
    <mat-nav-list>
      <a mat-list-item routerLink=".">Yesica es una pendeja</a>
      <a mat-list-item routerLink=".">Yesica es una pendeja</a>
      <a mat-list-item routerLink=".">Yesica es una pendeja</a>
      <a mat-list-item routerLink=".">Yesica es una pendeja</a>
      <a mat-list-item routerLink=".">Yesica es una pendeja</a>
      <a mat-list-item routerLink=".">Yesica es una pendeja</a>
      <a mat-list-item routerLink=".">Yesica es una pendeja</a>
      <a mat-list-item routerLink=".">Yesica es una pendeja</a>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <app-nav-bar (buttonMenu)="snav.toggle()"></app-nav-bar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>